<div id="page-layout">
	<div id="page-content">
		<div id="page-content-wrapper">
			
			<div class="clear"></div>
			<div class="content-box">
	            <% if flash[:mensagem] -%>
	            	<div class="response-msg <%= flash[:mensagem][:tipo] %> ui-corner-all">
	            		<% if flash[:mensagem][:tipo] == "info" -%>
							<span> <%= t :info_box_label %></span>
						<% end -%>
						<% if flash[:mensagem][:tipo] == "success"-%>
							<span> <%= t :success_box_label %></span>
						<% end -%>
						<% if flash[:mensagem][:tipo] == "error" -%>
							<span> <%= t :error_box_label %></span>
						<% end -%>
						<%= flash[:mensagem][:texto] %>
					</div>
				<% end -%>
         		<div class="cont ui-corner-all" style="line-height:1">
					<h3 style="display:inline;font-weight: bold;"><%= @tarefa.nome %></h3>
					<div class="task-text">
						<%= @tarefa.descricao %>
					</div>
					<%= render :partial => '/consultas/mostrar', :locals => {:consultaInstancia => @tarefa.consulta, :smallPictures => true}  %>
					<div class="buttons-wrapper">
						<% if @tarefa.consulta.status == Consulta::PENDENTE %>
							<%= link_to consulta_path(@tarefa.consulta.id, :tarefa_id => @tarefa.id), :class => 'btn ui-state-default ui-corner-all', :style => "float:left;" do %>
								<span class="ui-icon ui-icon ui-icon-link"></span>
	  							<%=t :task_object_details_button %>
							<% end %>
																
							<%= link_to consultas_confirmar_path(:id => @tarefa.consulta.id, :tarefa_id => @tarefa.id, :irPara => "dashboard"), 
							:class => 'btn ui-state-default ui-corner-all', :onclick => "return confirm(#{t :message_confirm_consultation_confirmation});", 
							:style => "float:left;" do %>
								<span class="ui-icon ui-icon ui-icon-link"></span>
	  							<%=t :button_confirm_consultation_label %>
							<% end %>
							
							<%= link_to consultas_cancelar_path(:id => @tarefa.consulta.id, :tarefa_id => @tarefa.id), :class => 'btn ui-state-default ui-corner-all', :onclick => "return confirm(#{t :message_cancel_consultation_confirmation});", :style => "float:left;" do %>
								<span class="ui-icon ui-icon ui-icon-link"></span>
	  							<%=t :button_cancel_consultation_label %>
							<% end %>
						<% end %>
						<div class="clear"></div>
					</div>
        		</div>
			</div>
		</div>
	</div>	
</div>