<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
	<div class="portlet-header ui-widget-header">
		<%= t :box_emails_title %>
		<span class="ui-icon ui-icon-circle-arrow-s"></span>
	</div>
	<div class="portlet-content">
		<div class="hastable">
			<% if @listaMensagens.length() > 0 %>
				<table cellspacing="0">
					<thead>
						<tr>
							<td><%= t :caixa_emails_assunto %>
							</td>
							<td><%= t :caixa_emails_opcoes %>
							</td>
						</tr>
					</thead>
					<tbody>
						<% @listaMensagens.each_with_index do |mensagem, i| %>
							<tr class="<%= (i % 2 == 0)? '' :'alt' %>">
								<td>
									<%= mensagem.assunto %>
								</td>
								<td style="width: 152px;">
									<%= link_to "", {:class => 'btn ui-state-default ui-corner-all', :href => "#", :onClick => "javascript:abreModalMensagens(event, #{mensagem.id} );", :style => "float:left;"} do %>
										<span class="ui-icon ui-icon ui-icon-mail-open"></span>
										<%=t :box_email_read %>
									<% end %>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
				<%= link_to mensagens_path do %>
					<%=t :link_to_mensagens %>
				<% end %>
			<% else %>
				<div class="content-box-wrapper">
					<h4 style="border-bottom:none;font-weight: bold;"><%=t :nenhuma_mensagem_message %></h4>
				</div>
			<% end %>
		</div>
	</div>
</div>
<div id="modal_mensagens" title="<%= t :modal_emails_manage_title %>"></div>
<script>
function abreModalMensagens(event, idMensagem) {
	event.preventDefault();
	var field = "<input type='hidden' name='mesagem.id' val='' class='mensagem_id'/>"
	$('#modal_mensagens .mensagem_id').remove();
	$('#modal_mensagens').append(field);
	$('#modal_mensagens .mensagem_id').val(idMensagem);
	var elem = $("div#modal_mensagens");
	elem.dialog("open");
	$("div.ui-widget-overlay").bind("click", {elem:elem}, fechaModal);
}

function fechaModal(event){
	$(event.data.elem).dialog("close");
}

jQuery(document).ready(function(){
	$("div#modal_mensagens").dialog({
		autoOpen : false,
		position : [ 'center', 'top' ],
		width : 475,
		modal : true,
		zIndex : 20000,
		open : function(event, ui) {
			var idMensagem = $('#modal_mensagens .mensagem_id').val();
			$.ajax({
				type : 'GET',
				url : "../mensagens/" + idMensagem + "/inicializaModalDetalhes",
				success : function(resposta) {
					$('div#modal_mensagens').html(resposta);
				}
			});
		}
	});
	
})
</script>