<html>
	<head>
	<title>Welcome to Rails</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<%= javascript_include_tag "dashboard/atendente" %>
</head>
<body>
	<div id="sub-nav">
		<%= breadcrumb(t(:dashboard_atendant_title), true) %>
	</div>
	<div id="page-layout">
		<div id="page-content">
			<div id="page-content-wrapper">
				<div class="inner-page-title">
					<h2>
						<%= t :dashboard_atendant_welcome_message %>
					</h2>
					<span><%= t :dashboard_atendant_welcome_hint %>
				</div>
				<div class="clear"></div>
				<div class="content-box">
            		<% if flash[:mensagem] -%>
		            	<div class="response-msg <%= flash[:mensagem][:tipo] %> ui-corner-all">
		            		<% if flash[:mensagem][:tipo] == "info" -%>
								<span> <%= t :info_box_label %></span>
							<% end -%>
							<% if flash[:mensagem][:tipo] == "success"-%>
								<span> <%= t :success_box_label %></span>
							<% end -%>
							<% if flash[:mensagem][:tipo] == "error" -%>
								<span> <%= t :error_box_label %></span>
							<% end -%>
							<%= flash[:mensagem][:texto] %>
						</div>
					<% end -%>
					<div class="clear"></div>
					<div class="inner-page-title">
						<h2>
							<%= t :information_section_title %>
						</h2>
						<span><%= t :information_section_hint %>
						</span>
					</div>
					<div class="two-column">
						<div class="column" style="width: 70%;">
							<div class="content-box content-box-header">
								
								<div class="ui-state-default ui-corner-top ui-box-header">
									<span class="ui-icon float-left ui-icon-signal"></span>
									<%= t :header_autocomplete_paciente %>
								</div>
								<div class="content-box-wrapper" id="info_paciente">
									<label class="desc" for="lastname"><%= t :paciente_nome_label %> </label>
									<%= text_field(:paciente, :nome, :class => "field text", :name => "autocomplete_pacientes_text", :id => "autocomplete_pacientes_text", :style => "width: 296px;" ) %>
									<div class="gray-box ui-corner-all" style="margin-bottom:5px;margin-top: 10px;">
										<div class="cont ui-corner-all" style="line-height:1" >
											<h3><%= t :search_pacient_message %></h3>
											<div class="two-column">
												<div class="column" id="dados_paciente">
													<%= t :pacient_info_here_message %>
												</div>
												<div class="column">
													<ul class="ui-widget ui-helper-clearfix invisivel" id="icons">
														<%= link_to "", :class => 'btn ui-state-default ui-corner-all', :href => "javascript: confirmaChegada();" do %>
															<span class="ui-icon ui-icon ui-icon-cancel"></span>
								  							<%=t :button_confirm_arrival %>
														<% end %>
													</ul>
												</div>
												<div class="clear"></div>
											</div>
										</div>
									</div>
									<div class="hastable">
									<%if @atendimentosAguardandoChegada.length() > 0 -%>
									 	<%= render :partial => '/atendimentos/listaAtendimentos', :atendimentosAguardandoChegada => @atendimentosAguardandoChegada %>
									<% else -%>
										<div class="content-box-wrapper">
											<h4 style="border-bottom:none;"><%=t :nenhuma_consulta_message %></h4>
										</div>
									<% end %>
								</div>
								</div>
							</div>
						</div>
						<div class="column column-right" style="width: 28%;">
							<div class="content-box content-box-header ui-corner-all">
								<div class="ui-state-default ui-corner-top ui-box-header">
									<span class="ui-icon float-left ui-icon-signal"></span>
									<%=t :tabela_pendentes %>
								</div>
								<div class="hastable">
									<% if @consultasAguardandoConfirmacao.length() > 0 -%>
										<table cellspacing="0">
											<thead>
												<tr>
													<td><%=t :paciente_nome %></td>
													<td><%=t :paciente_documento %></td>
													<td><%=t :tabela_opcoes %> </td>
												</tr>
											</thead>
											<tbody>
												<% @consultasAguardandoConfirmacao.each_with_index do |consulta, i| %>
													<tr class="<%= (i%2 == 0) ? '' : 'alt' %>">  	  	
														<td>
															<%= consulta.paciente.nome %>
														</td>
														<td>
															<%= consulta.paciente.documento %>
														</td>
														<td>
															<%= link_to "", :class => 'btn ui-state-default ui-corner-all', :href => "#" do %>
																<span class="ui-icon ui-icon ui-icon-gripsmall-diagonal-se"></span>
									  							<%=t :botao_confirmar_atendimento %>
															<% end %>
														</td>
													</tr>
												<% end %>
											</tbody>
										</table>
									<% else -%>
										<div class="content-box-wrapper">
											<h4 style="border-bottom:none;"><%=t :nenhuma_consulta_message %></h4>
										</div>
									<% end %>
								</div>
							</div>
						</div>
						<div class="column column-right" style="width: 28%;">
							<div class="content-box content-box-header">
								<div class="content-box-wrapper">
									<h3>Resumo dos Atendimentos Atuais</h3>
									<p>
										<b>Atendimentos de hoje:</b>
										<%= @atendimentosHoje.length() %>
									</p>
									<p>
										<b>Próximos Atendimentos:</b>
									 	<%= @atendimentosMes.length() %>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
					<div class="inner-page-title">
						<h2>
							<%=t :personal_section_title %>
						</h2>
						<span><%=t :personal_section_hint %>
						</span>
					</div>
					<div class="two-column">
						<div class="column" unselectable="on" style="-moz-user-select: none;">
							<%= render :partial => '/dashboard/listaMensagens', :listaMensagens => @listaMensagens %>
						</div>
						<div class="column column-right" style="-moz-user-select: none;" unselectable="on">
							<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
								<div class="portlet ui-widget ui-helper-clearfix ui-corner-all">
									<div class="portlet-header ui-widget-header">
										<%=t :box_tasks_title %>
										<span class="ui-icon ui-icon-circle-arrow-s"></span>
									</div>
									<div class="portlet-content">
										<% if @listaTarefas.length() > 0 %>
											<div class="hastable minha-tabela">
												<% @listaTarefas.each_with_index do |tarefa, i| %>
													<span style="float:left;"></span>
													<div class="yellow-box ui-corner-all other-box" style="margin-bottom:5px;">
														<div class="cont ui-corner-all" style="line-height:1">
															<h3><%=t :attention_box_title %></h3>
															<%= tarefa.nome %>
															<%= link_to "", :class => 'btn ui-state-default ui-corner-all', :href => "#", :style => "margin:0;", :onClick => "javascript:abreModalTarefa(event, #{tarefa.id});" do %>
																<span class="ui-icon ui-icon ui-icon-cancel"></span>
									  							<%=t :tasks_manage_button %>
															<% end %>
															<div class="clear"></div>
														</div>
													</div>
												<% end %>
												<g:link action="listar" controller="tarefa" ><%=t :link_to_tarefas %></g:link>
											</div>
										<% else %>
											<div class="content-box-wrapper">
												<h4 style="border-bottom:none;font-weight: bold;"><%=t :nenhuma_tarefa_message %></h4>
											</div>
										<% end %>
									</div>
								</div>
							</div>						
						</div>
					</div>
					<div class="clear"></div>
					<div id="modal_tarefas" title="<%= t(:modal_task_manage_title) %>"></div>
				</div>
				 <%= render :partial => 'templates/sidebar' %>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</body>
</html>