<h1>Listing usuario_perfils</h1>

<table>
  <tr>
    <th>Usuario</th>
    <th>Perfil</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @usuario_perfils.each do |usuario_perfil| %>
  <tr>
    <td><%= usuario_perfil.usuario %></td>
    <td><%= usuario_perfil.perfil %></td>
    <td><%= link_to 'Show', usuario_perfil %></td>
    <td><%= link_to 'Edit', edit_usuario_perfil_path(usuario_perfil) %></td>
    <td><%= link_to 'Destroy', usuario_perfil, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Usuario perfil', new_usuario_perfil_path %>
