<p id="notice"><%= notice %></p>

<p>
  <b>Problema:</b>
  <%= @entrevista_medica.problema %>
</p>

<p>
  <b>Medicacao:</b>
  <%= @entrevista_medica.medicacao %>
</p>

<p>
  <b>Observacoes:</b>
  <%= @entrevista_medica.observacoes %>
</p>

<p>
  <b>Laudomedico:</b>
  <%= @entrevista_medica.laudoMedico %>
</p>

<p>
  <b>Altura:</b>
  <%= @entrevista_medica.altura %>
</p>

<p>
  <b>Peso:</b>
  <%= @entrevista_medica.peso %>
</p>

<p>
  <b>Pressao:</b>
  <%= @entrevista_medica.pressao %>
</p>


<%= link_to 'Edit', edit_entrevista_medica_path(@entrevista_medica) %> |
