<p id="notice"><%= notice %></p>

<p>
  <b>Rua:</b>
  <%= @endereco.rua %>
</p>

<p>
  <b>Cep:</b>
  <%= @endereco.cep %>
</p>

<p>
  <b>Numero:</b>
  <%= @endereco.numero %>
</p>

<p>
  <b>Complemento:</b>
  <%= @endereco.complemento %>
</p>

<p>
  <b>Cidade:</b>
  <%= @endereco.cidade %>
</p>

<p>
  <b>Estado:</b>
  <%= @endereco.estado %>
</p>

<p>
  <b>Usuario:</b>
  <%= @endereco.usuario %>
</p>


<%= link_to 'Edit', edit_endereco_path(@endereco) %> |
<%= link_to 'Back', enderecos_path %>
