<p id="notice"><%= notice %></p>

<p>
  <b>Login:</b>
  <%= @usuario.login %>
</p>

<p>
  <b>Senha:</b>
  <%= @usuario.senha %>
</p>

<p>
  <b>Ativo:</b>
  <%= @usuario.ativo %>
</p>

<p>
  <b>Contaexpirada:</b>
  <%= @usuario.contaExpirada %>
</p>

<p>
  <b>Contabloqueada:</b>
  <%= @usuario.contaBloqueada %>
</p>

<p>
  <b>Senhaexpirada:</b>
  <%= @usuario.senhaExpirada %>
</p>

<p>
  <b>Nome:</b>
  <%= @usuario.nome %>
</p>

<p>
  <b>Idade:</b>
  <%= @usuario.idade %>
</p>

<p>
  <b>Documento:</b>
  <%= @usuario.documento %>
</p>

<p>
  <b>Telefone:</b>
  <%= @usuario.telefone %>
</p>

<p>
  <b>Sexo:</b>
  <%= @usuario.sexo %>
</p>

<p>
  <b>Datanascimento:</b>
  <%= @usuario.dataNascimento %>
</p>

<p>
  <b>Email:</b>
  <%= @usuario.email %>
</p>


<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
