<%= form_for(@medico) do |f| %>
  <% if @medico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medico.errors.count, "error") %> prohibited this medico from being saved:</h2>

      <ul>
      <% @medico.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :crm %><br />
    <%= f.number_field :crm %>
  </div>
  <div class="field">
    <%= f.label :biografia %><br />
    <%= f.text_field :biografia %>
  </div>
  <div class="field">
    <%= f.label :especialidade %><br />
    <%= f.text_field :especialidade %>
  </div>
  <div class="field">
    <%= f.label :agenda %><br />
    <%= f.text_field :agenda %>
  </div>
  <div class="field">
    <%= f.label :precoConsulta %><br />
    <%= f.text_field :precoConsulta %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
