<div class="other-box gray-box ui-corner-all">
	<div class="cont ui-corner-all">
		<div class="paciente">
			<h2><%= t :pacient_section_title %></h2>
				<% if smallPictures == true -%>
					<div class="foto_pequena">
						<%= image_tag("no_picture_small.png")%>
					</div>
				<% else %>
					<div class="foto">
						<%= image_tag("no_picture.png")%>
					</div>
				<% end %>
			<div class="dados">
				<%= link_to paciente_path(consultaInstancia.paciente.id) do %>
					<h3><%= consultaInstancia.paciente.nome%></h3>
				<% end %>
				<div style="padding: 20px 10px;">
					<%= t :paciente_telefone_label %>
					<%= consultaInstancia.paciente.telefone %> <br/>
					<%= t :paciente_email_label %>
					<%=consultaInstancia.paciente.email %> <br/>
				</div>
			</div>
		</div>
		<div class="medico">
			<h2><%= t :doctor_section_title %> </h2>
				<% if smallPictures == true  %>
					<div class="foto_pequena">
						<%= image_tag("no_picture_doctor_small2.png")%>
					</div>
				<% else %>
					<div class="foto">
						<%= image_tag("no_picture_doctor2.png")%>
					</div>
				<% end %>
			<div class="dados">
				<%= link_to medico_path(consultaInstancia.medico.id) do %>
					<h3><%= consultaInstancia.medico.nome %></h3>
				<% end %>
				<div style="padding: 20px 10px;">
					<%= t :paciente_telefone_label %>
					<%= consultaInstancia.medico.telefone %> <br/>
					<%= t :paciente_email_label %>
					<%= consultaInstancia.medico.email %><br/>
				</div>
			</div>
			<div style="float:left;width:20%;padding: 20px 10px;">
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="other-box yellow-box ui-corner-all">  
	<div class="cont ui-corner-all">
		<h3><%= t :consultation_date_info %> </h3>
		<%= t :consultation_status_label %>
		<%= consultaInstancia.status %> <br/>
		<b>
			<%= t :consultation_date_label %>
			<%= l consultaInstancia.data %>
		</b>
	</div>
</div>