<h1>Listing medicacoes</h1>
<table>
  <tr>
    <th>Nome</th>
    <th>Tarja</th>
    <th>Bula</th>
    <th>Quantidade</th>
    <th>Unidade</th>
    <th>Fabricante</th>
    <th>Data compra</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @medicacoes.each do |medicacao| %>
  <tr>
    <td><%= medicacao.nome %></td>
    <td><%= medicacao.tarja %></td>
    <td><%= medicacao.bula %></td>
    <td><%= medicacao.quantidade %></td>
    <td><%= medicacao.unidade %></td>
    <td><%= medicacao.fabricante %></td>
    <td><%= medicacao.data_compra %></td>
    <td><%= link_to 'Show', medicacao %></td>
    <td><%= link_to 'Edit', edit_medicacao_path(medicacao) %></td>
    <td><%= link_to 'Destroy', medicacao, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'New Medicacao', new_medicacao_path %>
